<br>
<br>
<h1>Restaurant listing </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">address</th>
      <th scope="col">email</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection">
      <th>{{item.id}}</th>
      <th>{{item.name}}</th>
      <th>{{item.address}}</th>
      <th>{{item.email}}</th>
      <th>
        <i (click)="deleteResto(item.id)" class="fa fa-trash" 
        style="font-size:20px;color:red;"></i>

        <a routerLink="/update/{{item.id}}">
          <i class="fa fa-edit" style="font-size:20px;color:green;margin-left: 17px;"></i>
        </a>

      </th>
    </tr>

  </tbody>
</table>